.jumbotron {
    background: #ffb6b9;
}
.navbar{
    box-shadow: 0px 1px 0px 1px #8ac6d1;
    background: #e6d1c8 !important;
}

body {
    background: #fae3d9;
}

#marie {
height: 30%;
width: 30%;

}

img{
    width:400px; /* you can use % */
    height: auto;
}